<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/set_time.css" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"
    />

    <title>Continuous Rail Thermometer</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title well">Set Date and Time</h1>
      <hr />
      <div id="aform" class="container">
        <form class="form" id="asd">
          <div class="form-row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker1">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="time"
                    id="time"
                  />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-3"></div>
          </div>
          <br />

          <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary" id="submit">
                Submit
              </button>
              <button class="btn btn-secondary" id="back">Back</button>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </form>

        <div class="alert alert-info" role="alert" id="hidden"></div>
      </div>
    </div>

    <script>
      window.$ = window.jQuery = require("jquery/dist/jquery");
    </script>
    <script type="text/javascript">
      require("moment/moment");
    </script>
    <script type="text/javascript">
      require("bootstrap/dist/js/bootstrap");
    </script>
    <script type="text/javascript">
      require("eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker");
    </script>
    <script type="text/javascript">
      require("./scripts/set_time");
    </script>
    <script type="text/javascript">
      $(function () {
        var moment = require("moment/moment");
        $("#datetimepicker1").datetimepicker({
          defaultDate: moment(),
          format: "MM/DD/YYYY HH:mm",
        });
      });
    </script>
  </body>
</html>
