<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/splash.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Continuous Rail Thermometer</title>
</head>
<body>
    <div class="container">
        <img src="../../public/img/logo.gif" id="logo" class="img-responsive center-block">

        <h1 class="title">Continuous Rail Thermometer<br><small>Specification No.: TM/TL/119 Rev.01 of 2015</small></h1>
    </div>

    <script type="text/javascript">require('./scripts/splash');
    </script>
</body>
</html>
